
.allbtn
{
background-color: #f5f5f2;
padding: 5px;
border-radius: 1px;
margin: 1px;
border:1px solid rgb(230, 224, 224);
}
.allbtn:hover
{
    background-color: rgba(209, 207, 204, 0.575);
    color: white;
}